body {
  font-family: "Agdasima", sans-serif;
  background-image: url(../src/img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}
header {
  display: flex;
  justify-content: center;
}
.logo {
  border: 10px solid #4a9485b7;
  border-radius: 20px;
  padding: 45px 150px;
  margin: 40px 80px;
}

/* main */
.select-characters {
  display: flex;
  margin: 40px 150px;
  padding: 20px 80px;
}
/* section 1 */
.select-characters .list-characters {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  gap: 10px;
  justify-content: center;
}
.select-characters .title {
  text-align: center;
  margin: 5px;
  border-bottom: 2px solid #4a9485;
  width: 100%;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.select-characters .list-characters .character img {
  margin: 10px;
  border-bottom: 5px solid #4a9485;
}
/* section 2 */
.character-selected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  flex-wrap: wrap;
}
.character-selected .character-main {
  background-color: #ffffffe0;
  border: solid 8px #4a9485b7;
  border-radius: 20%;
  margin-bottom: 45px;
  padding: 80px;
  width: 70%;
}
.character-selected .character-name {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 30px;
  width: 90%;
  text-align: center;
  border-bottom: 2px solid #4a9485;
}

.selected-action {
  border: red solid 9px;
}
